*{
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray
}







nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px
}


    main{
        width:1200px;
        margin: auto;
        text-align: center;
    }